.project {
    margin: 57px 0px 0px 0px;
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span{
        position: relative;
        color: #fff;
        font-size:13px;
        margin:auto;
    }
    a{
        position: absolute;
        margin-left:5px;
    }
}

.project h1 {
    margin-top: 50px;
    color: #fff;
    font-size: 35px;
}
.project img {
    width: 620px;
    border-radius: 10px;
}

.project p {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0px;
}

.project svg {
    font-size: 20px;
    color: #3e497a;
}
